body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #44475A;
}

.menu {
    width: 60px; 
    height: 100vh; 
    background-color: #282A36; 
    position: fixed;
    left: -60px; 
    transition: left 0.3s; 
}

.menu-item {
    background: none; 
    border: none; 
    cursor: pointer;
    padding: 0;
    margin: 10px;
    display: inline-block;
}

.menu-item img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    background: none;
    border-radius: 0;
}

.menu-item:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.menu-item:hover {
    opacity: 0.7; 
    transition: opacity 0.3s ease;
}

.menu-toggle {
    background-color: #2c2c54;
    color: #b19cd9; /* Cor do texto */
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
    border-radius: 40px;
}

.content {
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.search {
    width: 400px;
    padding: 10px;
    padding-left: 40px;
    border-radius: 40px;
    border: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #282A36;
    color: #ffffff;
    background-image: url('img/search.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.search-icon img {
    width: 20px;
    height: 20px;
}

.menu.open {
    left: 0;
}

.menu-toggle-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #444;
    border-radius: 50%;
}

.toggle-icon {
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.content.menu-open {
    margin-left: 60px;
}
